<template>
    <blockquote class="blockquote">
      <div class="small">
        <p class="mb-0">{{ article.curator_note }}</p>
        <footer class="blockquote-footer">Curator Note</footer>
      </div>
    </blockquote>
</template>

<script>
export default {
  name: "ArticleCuratorDetail",
  components: {},
  props: {
    article: Object,
  },
};
</script>

<style>
</style>
