<template>
  <div class="card-body">
    <h1 class="page-title mb-3">
      <span v-html="article.title"></span>
    </h1>

    <div class="row">
      <div class="col-md-12">
        <article-figure
          :article="article"
          :link-external="true"
        ></article-figure>
      </div>
      <div class="col-md-12">
        <article-meta-detail
          :article="article"
          class="mb-3"
        ></article-meta-detail>

        <div class="lead mb-3">{{ article.text.snippet }}</div>

        <curator-note
          v-if="article.curator_note"
          :article="article"
          class="mb-3"
        ></curator-note>

        <div class="mb-3">
          <a
            :href="article.link"
            class="btn btn-outline-success mr-1"
            target="_blank"
          >
            Read on {{ article.publisher.name }}
          </a>

          <article-share-button
            :article="article"
            class="btn btn-light mr-1"
          ></article-share-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FeedItems from "creatornews-components/Feed/FeedItems";
import CategoryTabs from "creatornews-components/Feed/CategoryTabs";
import CategoryCloud from "creatornews-components/Feed/CategoryCloud";
import TextTimeAgo from "vio/components/text/TextTimeAgo";
import AppHead from "@/Layouts/AppHead";
import ArticleFigure from "creatornews-components/Article/ArticleFigure";
import ArticleMetaDetail from "creatornews-components/Article/ArticleMetaDetail";
import CuratorNote from "creatornews-components/Article/CuratorNote";
import LinkPublisher from "creatornews-components/Feed/LinkPublisher";
import ArticleShareButton from "creatornews-components/Article/Share/ShareButton";
import AdContainer from "creatornews-components/Etc/AdContainer";

export default {
  name: "ArticleShow",
  components: {
    AppHead,
    FeedItems,
    ArticleFigure,
    ArticleMetaDetail,
    CuratorNote,
    LinkPublisher,
    ArticleShareButton,
    AdContainer,
  },
  props: {
    article: Object,
  },
  computed: {},
};
</script>

<style scoped>
</style>
