<template>
  <div>
    <a
      :href="article.links.permalink"
      class="list-group-item list-group-item-action d-flex flex-column flex-md-row"
    >
      <div class="list-group-item-figure">
        <article-img :article="article"></article-img>
      </div>
      <div class="list-group-item-body">
        <share-button
          :article="article"
          class="btn btn-sm btn-light float-right"
          title="Share this article"
        >
          <i class="fa fa-share-alt mr-1"></i>
        </share-button>

        <div class="clear-fix"></div>

        <h4 class="list-group-item-title mb-0">
          {{ article.text.title }}
        </h4>

        <div class="list-group-item-subtitle mb-2">
          <article-meta-detail :article="article"></article-meta-detail>
        </div>

        <curator-note
          v-if="article.curator_note"
          :article="article"
        ></curator-note>
      </div>
    </a>
    <div
      v-if="hasAdUnit"
      class="cn-ad-container"
      style="display: none"
    >
      <ad-unit></ad-unit>
    </div>
  </div>
</template>

<script>
import TextTimeAgo from "vio/components/text/TextTimeAgo";
import LinkPublisher from "creatornews-components/Feed/LinkPublisher";
import ArticleFigure from "creatornews-components/Article/ArticleFigure";
import ArticleMetaDetail from "creatornews-components/Article/ArticleMetaDetail";
import CuratorNote from "creatornews-components/Article/ArticleCuratorDetail";
import ShareButton from "creatornews-components/Article/Share/ShareButton";
import AdUnit from "creatornews-components/Etc/AdUnit";
import ArticleImg from "./ArticleImg";

export default {
  name: "ArticleListGroupItem",
  components: {
    TextTimeAgo,
    LinkPublisher,
    ArticleFigure,
    ArticleMetaDetail,
    CuratorNote,
    ShareButton,
    ArticleImg,
    AdUnit,
  },
  props: {
    article: Object,
    hasAdUnit: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
  @media(max-width: 767px){
    .list-group-item-figure{
      max-width:100%;
      width:100%;
      padding-top:61.8%; //Math.div(1,phi)
      >img{
        width:100;
        height:auto;
      }
    }
  }
</style>
