<template>
  <div class="card card-figure card-fluid rounded-0">
    <figure class="figure">
      <a v-bind="linkAttributes" class="figure-img">
        <article-img :article="article"></article-img>
        <figcaption class="figure-caption">
          <div v-if="showToolbar" class="float-right">
            <share-button
              :article="article"
              class="btn btn-sm btn-light"
              title="Share this article"
            >
              <i class="fa fa-share-alt mr-1"></i>
            </share-button>
          </div>

          <h6 v-if="!!$slots.title">
            <slot name="title"></slot>
          </h6>
          <p v-if="!!$slots.description" class="text-muted mb-0">
            <slot name="description"></slot>
          </p>
        </figcaption>
      </a>
    </figure>
  </div>
</template>

<script>
import ShareButton from "./Share/ShareButton";
import ArticleImg from "./ArticleImg";

export default {
  name: "ArticleFigure",
  components: {
    ShareButton,
    ArticleImg,
  },
  props: {
    article: Object,

    href: {
      type: String,
      default: null,
    },

    // Whether or not to link to the external article URL
    linkExternal: {
      type: Boolean,
      default: false,
    },

    showToolbar: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    linkAttributes() {
      let attr = {};

      if (this.linkExternal) {
        attr.href = this.article.link;
        attr.target = "_blank";
      } else {
        attr.href = this.article.links.permalink;
      }

      return attr;
    },
  },
};
</script>

<style>
</style>
