<template>
  <div class="row">
    <template v-for="(article, index) in items" :key="article.id">
      <div class="col-lg-4 col-md-6">
        <article-figure :article="article">
          <template #title>
            {{ article.text.title }}
          </template>
          <template #description>
            <article-meta-detail :article="article"></article-meta-detail>
          </template>
        </article-figure>
      </div>
      <ad-container
        v-if="AdHelper.positionHasAd(index + 1, 3)"
        type="grid"
        class="col-lg-4 col-md-6"
      ></ad-container>
    </template>
  </div>
</template>

<script>
import FeedItems from "creatornews-components/Feed/FeedItems";
import ArticleFigure from "creatornews-components/Article/ArticleFigure";
import ArticleMetaDetail from "creatornews-components/Article/ArticleMetaDetail";
import AdContainer from "creatornews-components/Etc/AdContainer";
import AdHelper from "../Helpers/AdHelper";

export default {
  name: "ArticleGrid",
  components: {
    FeedItems,
    ArticleFigure,
    ArticleMetaDetail,
    AdContainer,
  },
  props: {
    items: Array,
    linked: {
      type: Boolean,
      default: true,
    },
  },
  setup(props) {
    return {
      AdHelper,
    };
  },
  computed: {
    articleLink() {
      return this.article.links.permalink;
    },
  },
};
</script>

<style scoped>
</style>
