<template>
  <ul class="list-inline mb-0">
    <template v-if="article.publisher">
      <li v-if="article.publisher.name" class="list-inline-item">
        <link-publisher :model="article.publisher"></link-publisher>
      </li>
    </template>
    <template v-if="article.date_featured">
      <li class="list-inline-item">
        Featured
        <text-time-ago :value="article.date_featured"></text-time-ago>
      </li>
    </template>
    <template v-else>
      <li v-if="article.pub_date" class="list-inline-item">
        Published
        <text-time-ago :value="article.pub_date"></text-time-ago>
      </li>
    </template>
    <li v-if="article.category" class="list-inline-item">
      <a :href="article.category.url">
        {{ article.category.name }}
      </a>
    </li>
  </ul>
</template>

<script>
import TextTimeAgo from "vio/components/text/TextTimeAgo";
import LinkPublisher from "creatornews-components/Feed/LinkPublisher";

export default {
  name: "ArticleToolbar",
  components: {
      TextTimeAgo,
      LinkPublisher
  },
  props: {
    article: Object,
  },
};
</script>

<style>
</style>
