<template>
  <img
    v-if="src"
    :srcset="srcset"
    :sizes="sizes"
    :src="src"
    :alt="alt"
    class="img-fluid"
  />
</template>

<script>
import ShareButton from "./Share/ShareButton";
import _ from "lodash";

export default {
  name: "ArticleFigure",
  components: {
    ShareButton,
  },
  props: {
    article: Object,
    responsive: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    src() {
      let src = this.article.image_url_resolved;
      let thumbs = this.article.image_thumbnails;

      if (thumbs) {
        if (thumbs.lg) {
          //return thumbs.lg;
        }
      }

      return src;
    },
    srcset() {
      let srcset = [];
      let thumbs = this.article.image_thumbnails;

      if (!thumbs) {
        return null;
      }

      if (thumbs.sm_square) {
        srcset.push(`${thumbs.sm} 200w`);
      }

      if (thumbs.md) {
        srcset.push(`${thumbs.md} 600w`);
      }

      if (thumbs.lg) {
        srcset.push(`${thumbs.lg} 800w`);
      }

      if (thumbs.xl) {
        //srcset.push(`${thumbs.xl} 1000w`);
      }

      return srcset.join(", ");
    },
    sizes() {
      let sizes = "";

      sizes = "(max-width: 200px) 200px, (max-width: 600px) 600px, 800px";

      return sizes;
    },
    alt() {
      return `Article Image - ${this.article.text.title}`;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
