<template>
  <div role="log" class="conversations py-1">
    <ul class="conversation-list">
      <li class="conversation-inbound">
        <div class="conversation-message bg-white">
          <div class="conversation-message-text">
            {{ article.curator_note }}
          </div>
          <div class="conversation-meta">&mdash; Curator Note</div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CuratorNote",
  components: {},
  props: {
    article: Object,
  },
};
</script>

<style>
</style>
