<template>
  <div>
    <ul class="list-inline">
      <template v-for="item in categories" :key="item.slug">
        <li class="list-inline-item mb-2">
          <a :href="item.url" class="btn rounded-pill btn-outline-secondary">
            {{ item.name }}
          </a>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CategoryCloud",
  props: {
    activeSlug: [String],
  },
  computed: {
    categories() {
      return this.$page.props.meta.categories;
    },
  },
  setup(props) {},
};
</script>

<style scoped>
</style>
