<template>
  <div class="nav-scroller">
    <div class="nav nav-tabs">
      <a class="nav-link" href="/" :class="{ active: !activeSlug }">
        Featured
      </a>
      <template v-for="item, index in categories" :key="item.id">
        <a
          :href="item.url"
          class="nav-link"
          :class="{ active: activeSlug === item.slug }"
        >
          {{ item.name }}
        </a>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "CategoryTabs",
  props: {
    activeSlug: [String],
  },
  computed: {
    categories() {
      return this.$page.props.meta.categories;
    },
  },
  setup(props) {},
};
</script>

<style scoped>
</style>
