<template>
  <div>
    <div class="list-group-item">
      <div class="list-group-item-figure">
        <a :href="item.links.permalink">
          <div class="tile tile-img tile-lg">
            <article-img :article="item"></article-img>
          </div>
        </a>
      </div>
      <div class="list-group-item-body">
        <h4 class="list-group-item-title">
          <a :href="item.links.permalink" class="text-primary font-weight-bold">
            <span v-html="item.title"></span>
          </a>
        </h4>
        <div class="list-group-item-subtitle text-muted">
          <ul class="list-inline mb-0">
            <li v-if="item.channel.publisher.name" class="list-inline-item">
              <link-publisher :model="item.channel.publisher"></link-publisher>
            </li>
            <template v-if="item.date_featured">
              <li class="list-inline-item">
                Featured
                <text-time-ago :value="item.date_featured"></text-time-ago>
              </li>
            </template>
            <template v-else>
              <li v-if="item.pub_date" class="list-inline-item">
                <text-time-ago :value="item.pub_date"></text-time-ago>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
    <div
      v-if="hasAdUnit"
      class="list-group-item cn-ad-container"
      style="display: none;"
    >
      <ad-unit class="list-group-item-body"></ad-unit>
    </div>
  </div>
</template>

<script>
import TextTimeAgo from "vio/components/text/TextTimeAgo";
import LinkPublisher from "./LinkPublisher";
import ArticleImg from "creatornews-components/Article/ArticleImg";
import AdUnit from "creatornews-components/Etc/AdUnit";

export default {
  name: "FeedItem",
  components: {
    TextTimeAgo,
    LinkPublisher,
    ArticleImg,
    AdUnit
  },
  props: {
    item: Object,
    hasAdUnit: {
      type: Boolean,
      default: false,
    },
  },
  methods: {  },
};
</script>

<style scoped>
</style>
