<template>
  <div>
    <div class="list-group list-group-media">
      <template v-for="(item, index) in items" :key="item.id">
        <feed-article
          :article="item"
          :has-ad-unit="AdHelper.positionHasAd(index + 1, 3)"
          class="mb-2"
        ></feed-article>
      </template>
    </div>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import AdHelper from "../Helpers/AdHelper";
const FeedArticle = defineAsyncComponent(() =>
  import("../Article/ArticleListGroupItem")
);

export default {
  name: "FeedFeaturedItems",
  components: {
    FeedArticle,
  },
  props: {
    items: Array,
  },
  setup(props) {
    return {
      AdHelper,
    };
  },
  mounted() {
    this.$nextTick(() => {
      AdHelper.invokeAdVendor();
    });
  },
  methods: {},
};
</script>

<style scoped>
.mb-2:last-child{
margin-bottom:0!important;  
}
</style>
