<template>
  <div class="feed-post card">
    <div class="card-header card-header-fluid">
        <h4>{{ article.title }}</h4>
    </div>
    <div class="card-body">
      <article-figure :article="article">
          <template #title>
              <article-meta-detail :article="article"></article-meta-detail>
          </template>
      </article-figure>

      <h4 class="card-title">{{ article.title }}</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
</template>

<script>
import TextTimeAgo from "vio/components/text/TextTimeAgo";
import LinkPublisher from "./LinkPublisher";
import ArticleFigure from "../Article/ArticleFigure";
import ArticleMetaDetail from "../Article/ArticleMetaDetail";

export default {
  name: "FeedArticlePost",
  components: {
    TextTimeAgo,
    LinkPublisher,
    ArticleFigure,
    ArticleMetaDetail,
  },
  props: {
    article: Object,
  },
};
</script>

<style scoped>
</style>
