<template>
  <div>
    <div class="card">
      <div class="list-group mb-3 list-group-flush list-group-divider">
        <template v-for="(item, index) in items" :key="item.id">
          <feed-item
            :item="item"
            :has-ad-unit="AdHelper.positionHasAd(index + 1, 3)"
          ></feed-item>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import AdHelper from "../Helpers/AdHelper";
const FeedItem = defineAsyncComponent(() => import("./FeedItem"));

export default {
  name: "FeedItems",
  components: {
    FeedItem,
  },
  setup(props) {
    return {
      AdHelper,
    };
  },
  props: {
    items: Array,
  },
  mounted() {
    this.$nextTick(() => {
      AdHelper.invokeAdVendor();
    });
  },
  methods: {},
};
</script>

<style scoped>
</style>
