<template>
	<a
	  v-if="model.url_web"
	  :href="model.url_web"
	  target="_blank"
	>
		{{ model.name }}
	</a>
	<span v-else>{{ model.name }}</span>
</template>

<script>
export default {
	name: "LinkPublisher",
	props: {
		model: Object
	}
}
</script>

<style scoped>

</style>