<template>
  <div class="cn-ad-container" style="display: none">
    <ad-unit :classes="childClasses"></ad-unit>
  </div>
</template>

<script>
import AdUnit from "./AdUnit";

export default {
  name: "AdContainer",
  components: {
    AdUnit,
  },
  props: {
    type: {
      type: String,
      default: "default",
    },
  },
  mounted() {},
  computed: {
    childClasses() {
      let classes = [];

      switch (this.type) {
        case "grid":
          classes.push("cn-ad-unit-grid");
          break;

        case "default":
        default:
          classes.push("cn-ad-unit");
          break;
      }

      return classes.join(' ');
    },
  },
};
</script>

<style>
</style>
