<template>
  <div ref="target" :class="resolvedClasses"></div>
</template>

<script>
import $ from "jquery";

export default {
  name: "AdUnit",
  props: {
    classes: {
      type: String,
      default: "cn-ad-unit",
    },
  },
  mounted() {
    let target = this.$refs.target;

    //console.log("AdUnit.mounted");

    let observer = new MutationObserver((mutations) => {
      //console.log(".cn-ad-unit element mutated", mutations);
      //$(target).closest(".cn-ad-container").css("display", "block");
      //console.log("Div changed:", target.innerText);
    });

    observer.observe(target, {
      attributes: false,
      childList: true,
      characterData: true,
    });
  },
  computed: {
    resolvedClasses() {
      let classes = [this.classes];

      return classes;
    },
  },
};
</script>

<style>
</style>
