<template>
  <div class="sidebar__inner">
    <a href="/pages/reader-sign-up-web">
        <img width="300" src="@/../assets/sidebar/newsletter_signup_banner.jpg" alt="Sign Up for our Newsletter" />
    </a>
    <hr>
    <sidebar-articles></sidebar-articles>
  </div>
</template>

<script>

import SidebarArticles from "creatornews-components/Sidebar/SidebarArticles.vue";

export default {
  name: "SidebarContent",
  components: {
    SidebarArticles
  },
  setup(props) {
    },
  methods: {
  },
  mounted() {
  },
};
</script>

<style scoped lang="scss">
    a{
        max-width:100%;
        display:flex;
        justify-content: center; align-items: center;
        margin-bottom:15px;
        img{
            flex:1;
            max-width:100%;
        }
    }
</style>