<template>
<div class="sidebar-articles">
  <span class="d-inline-block h5">Read More</span>
  <template v-for="article in sidebarArticles" v-bind:key="article.id">
    <div class="card" >
      <a :href="article.links.show" class="d-flex flex-row-reverse align-items-center">
        <div class="sidebar-article-figure">
          <article-img :article="article" class="d-block m-1"></article-img>
        </div>
        <div class="card-body py-1 px-2">
          <h6 v-html="getTrimmed(article.title, 50)"></h6>
          <article-meta-detail :article="article"></article-meta-detail>
        </div>
      </a>
    </div>
  </template>
</div>
</template>

<script>
import ArticleImg from "creatornews-components/Article/ArticleImg.vue";
import ArticleMetaDetail from "creatornews-components/Article/ArticleMetaDetail.vue";

export default {
  name: "SidebarArticles",
  components: {
    ArticleImg,
    ArticleMetaDetail
  },
  setup(props) {},
  methods: {
    getTrimmed(str, maxLength) {
      if (str.length > maxLength) {
        return str.substring(0, maxLength).concat("...");
      }
      return str;
    },
  },
  computed: {
    sidebarArticles() {
      return this?.$page?.props?.content?.sidebar_articles;
    },
  },
  mounted() {},
};
</script>

<style lang="scss">
.sidebar-articles{
  .card{
    min-height:6rem;
    .sidebar-article-figure{
      min-width:calc(100px + 0.5rem);
      img{
        height:100px;
        width:100px;
        display:flex;
        object-fit:cover;
      }
    }
  }

}
</style>