<template>
  <button @click.prevent="openShareCard" class="btn btn-light">
    <slot>
        <i class="fa fa-share-alt mr-1"></i>
        Share
    </slot>
  </button>
</template>

<script>
import Modal from "vio/helpers/Modal";
import { defineAsyncComponent } from "vue";

const ShareCard = defineAsyncComponent(() => import("./ShareCard"));

export default {
  name: "ShareButton",
  components: {
    ShareCard,
  },
  props: {
    article: Object,
  },
  setup(props) {},
  methods: {
    openShareCard() {
      Modal.loadComponent(ShareCard, {
        article: this.article,
      }, {
          title: 'Share',
          size: 'md'
      });
    },
  },
};
</script>

<style>
</style>
