<template>
  <div>
    <div>
      <article-figure :article="article" :show-toolbar="false">
        <template #title>
          {{ article.text.title }}
        </template>
        <template #description>
          {{ article.publisher.name }}
        </template>
      </article-figure>
    </div>

    <div class="form-group">
      <button
        @click.prevent="shareFacebook"
        class="btn btn-lg bg-facebook text-white btn-block"
      >
        <i class="fa fa-facebook mr-1"></i>
        Share on Facebook
      </button>
    </div>

    <div class="form-group">
      <button
        @click.prevent="shareTwitter"
        class="btn btn-lg bg-twitter text-white btn-block"
      >
        <i class="fa fa-twitter mr-1"></i>
        Share on Twitter
      </button>
    </div>

    <div class="form-group">
      <label>Share Link</label>
      <input-group>
        <input
          :value="article.links.permalink"
          @focus="$event.target.select()"
          type="text"
          readonly="readonly"
          class="form-control"
        />
        <template v-if="false" #end>
          <button
            @click.prevent="copyToClipboard"
            title="Copy share link to clipboard"
            type="button"
            class="btn btn-secondary"
          >
            <i class="fa fa-clipboard"></i>
          </button>
        </template>
      </input-group>
    </div>
  </div>
</template>

<script>
import { fbButton, tw } from "vanilla-sharing";
import ArticleFigure from "creatornews-components/Article/ArticleFigure";
import InputGroup from "vio/components/form/InputGroup";

export default {
  name: "ShareCard",
  components: {
    ArticleFigure,
    InputGroup,
  },
  props: {
    article: Object,
  },
  setup(props) {},
  methods: {
    shareFacebook() {
      fbButton({
        url: this.article.links.permalink,
      });
    },
    shareTwitter() {
      tw({
        url: this.article.links.permalink,
        title: this.article.title,
        hashtags: ["CreatorNews"],
      });
    },
    copyToClipboard(){
        // Todo: not implemented yet
    }
  },
};
</script>

<style>
</style>
